//--------------------------------------------
//    PALETA DE COLORES
//--------------------------------------------

$blanco: rgb(240, 240, 240);
$negro:rgb(22, 21, 21);
$gris_claro: rgb(226, 226, 226);
$gris_oscuro:rgb(76, 76, 76);

//--------------------------------------------
//    fUENTES
//--------------------------------------------

$parrafos: 'Cairo', sans-serif;
$titulos: 'Bebas Neue', cursive;

$titulo_size: 80px;
$subtitulo_size: 20px;
$parrafo_size: 16px;